/* ------ IMPORT ------ */
/* --- Font --- */

@import url('https://fonts.googleapis.com/css?family=Baloo+2:500,700&display=swap');

/* ------ GENERAL RULE ------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: #00c7ef;
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
}

/* ------ PAGE ------ */

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* ------ BOX ------ */

.box {
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: box-shadow .4s, transform 1s;
}

.password {
    text-align: center;
}

.box h1,
.box h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 30px #000;
}

/* --- User --- */

.user-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-name,
.user-surname,
.user-favorite-color {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #00c7ef ;
}